@{
    ViewBag.Title = "Home Page";
}

<h2><a name="custom-width-support" class="anchor" href="#custom-width-support">Select the shop</a></h2>
<div class="side-by-side clearfix">
    <p>Using a custom width with Chosen is as easy as passing an option when you create Chosen:</p>
    <pre><code class="language-javascript"> $(".chosen-select").chosen({width: "95%"}); </code></pre>
    <div>
        <em>Multiple Select Shop id</em>
        <select data-placeholder="Your Favorite Types of Bear" multiple class="chosen-select-width" tabindex="16" id="chosen-select">
            <option value=""></option>
            <option selected>Test1</option>
            <option>Test2</option>
            <option>Test3</option>
        </select>
    </div>
</div>

@section scripts{
    
    <script>
        $(function () {
            $("#chosen-select").chosen();
        })
    </script>
}